<div class="container">

    <div class="col-xs-3">
        <div class="form-group">
            <label for="key">key</label>
            <input type="text" class="form-control" id="key" ng-model="key" list="key_list">
            <datalist id="key_list">
                <option value="niuer_open_app">
                <option value="niuer_channel">
                <option value="union_ads_WR">
            </datalist>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="form-group">
            <label for="field">field</label>
            <input type="text" class="form-control" id="field" ng-model="field" list="field_list">
            <datalist id="field_list">
                <option value="1_5_1">
                <option value="2_8_1">
                <option value="1_5_1_1_1">
                <option value="2_8_1_1_1">
                <option value="4#2#1#1#5">
            </datalist>
        </div>
    </div>

    <div class="col-xs-4">
        <div>
            <p>选择需要查询的服务器</p>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" ng-model="type" value="dev"> dev
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" ng-model="type" value="test"> test
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" ng-model="type" value="online"> online
            </label>
        </div>
    </div>

    <div class="col-xs-2">
        <input type="button" class="btn btn-sm btn-default" ng-click="search()" value="搜索">
        <input type="button" class="btn btn-sm btn-default" ng-click="saveAdToLocal()" value="搜索">
    </div>

    <div class="col-xs-2">
        <select name="" id="" ng-model="displayStyle" ng-change="displayStyleFunc(displayStyle)">
            <option value="json">JSON格式展现</option>
            <option value="table">Table格式展现</option>
            <option value="string">字符串</option>
        </select>
    </div>


</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12" ng-if="displayStyle==='json'">
            <div>
                <ol>
                    <li class="json-block" ng-repeat="ad in ads track by $index">
                        {
                        <div style="margin-left:10px;" ng-repeat="(key2,value2) in ad">{{key2}}:{{value2|blank}},</div>
                        }
                        <br>
                    </li>
                </ol>
            </div>
        </div>

        <div class="col-sm-12" ng-if="displayStyle==='table'">
            <table class="table">
                <thead>
                <tr>
                    <th ng-if="!!ads||ads.length>0">#</th>
                    <th ng-repeat="(key2,value2) in ads[0] track by $index">{{key2}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ad in ads track by $index">
                    <td>{{$index+1}}</td>
                    <td ng-repeat="(key2,value2) in ad">{{value2}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-12" ng-if="displayStyle==='string'">
            {{ads}}
        </div>

    </div>

</div>
